<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="port" value="2048"/>
    <add key="host" value="192.168.1.46"/>
    <add key="wu_priority" value="1"/>
    <add key="deamon_delay" value="10"/>
    <add key="nb_wu_per_job" value="1"/>
    <add key="deamon" value="192.168.1.46"/>
    <add key="deamon" value="192.168.1.46"/>
	</appSettings>
</configuration>